@model IEnumerable<MySchool.Models.Cours>
@{
    ViewData["Title"] = "Cours";
}

<h1>Liste des cours disponible</h1>

<div class="container">
    <table class="table table-primary">
        <tr>
            <th>#</th>
            <th>Designation</th>
            <th>Option</th>
            <th>Enseignant</th>
            <th>Volume Horaire</th>
            <th>Statu</th>
            <th>-------</th>
        </tr>
        @if (Object.ReferenceEquals(Model.Count(), null))
        {
            <tr>
                <td></td>
                <td>Vide</td>
                <td>vide</td>
                <td>vide</td>
                <td>vide</td>
                <td>vide</td>
                <td></td>
            </tr>
        }
        else
        {
            foreach (var cours in Model)
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(c => cours.DesignationCours)</td>                    
                    <td>@Html.DisplayFor(c => cours.Option.Designation)</td>                    
                    <td>@Html.DisplayFor(c => cours.Enseignant.Fullname)</td>                    
                    <td>@Html.DisplayFor(c => cours.VolumeHoraire)</td>                    
                    <td>@Html.DisplayFor(c => cours.Statu)</td>                    
                    <td>
                        <a asp-action="DeteleCours" asp-route-id="@cours.CoursID">Supprimer</a> |
                        <a asp-action="Modifier" asp-route-id="@cours.CoursID">Modifier</a>
                    </td>                    
                </tr>
            }
        }
    </table>
</div>

<div class="container">
    <a asp-action="NewCours" asp-controller="Cours" class="nav-link">Ajouter un cours</a>
</div>