@model IEnumerable<MySchool.Models.Option>
@{
    ViewData["Title"] = "Details Option";
}

@foreach (var item in Model)
{
    <h1>@Html.DisplayFor(opt => item.Designation)</h1>
}

<div class="container">
    <table class="table table-info">
        <tr>
            <th>Titre</th>
            <th>Volume horaire</th>
            <th>Dispenser par</th>
            <th>Etat</th>
            <th>Traveaux</th>
        </tr>
        @foreach (var Opt in Model)
        {
            if (Opt.Cours.Count() > 0)
            {
                foreach (var item in Opt.Cours)
                {
                    <tr>
                        <td> @Html.DisplayFor(cours => item.DesignationCours)</td>
                        <td> @Html.DisplayFor(cours => item.VolumeHoraire)</td>
                        <td> @Html.DisplayFor(cours => item.Enseignant.Fullname)</td>
                        <td> @Html.DisplayFor(cours => item.Statu)</td>
                        @if (!Object.ReferenceEquals(item.Traveaux, null))
                        {
                            <td> @item.Traveaux.Count()</td>
                        }
                        else
                        {
                            <td>aucun travail effectuer</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <h4 class="text-info text-capitalize text-center">Aucun cours n'est disponible dans cette section pour le moment!</h4>
                    </td>
                </tr>
            }
        }
    </table>
</div>
